#Lukic-image-sizes-metabox .inside {
	padding: 0;
	margin: 0;
}

.Lukic-image-sizes-list {
	padding: 12px;
}

.Lukic-image-size-item {
	display: flex;
	justify-content: space-between;
	padding: 5px 0;
	border-bottom: 1px solid #f0f0f0;
}

.Lukic-image-size-item:last-child {
	border-bottom: none;
}

.Lukic-image-size-name {
	font-weight: 500;
	color: #0073aa;
	text-decoration: none;
	display: inline-block;
}

.Lukic-image-size-name:hover {
	color: #00a0d2;
	text-decoration: underline;
}

.Lukic-image-size-dimensions {
	color: #666;
	font-size: 12px;
}
